@model List<EntityLayer.Concrete.Iletisim>
<div class="col-md-6">
     @foreach (var x in Model)
        {
    <div class="list-group w-auto">
       
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <i class="bi bi-geo-alt fa-2x rounded-circle flex-shrink-0" width="32"
               height="32"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">      
                <div>
                    <h6 class="mb-0">@x.IlAdres</h6>
                    <p class="mb-0 opacity-75">@x.AcıkAdres</p>
                </div>
            </div>
        </a>
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <i class="bi bi-telephone-outbound fa-2x rounded-circle flex-shrink-0" width="32"
               height="32"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">@x.GsmNo</h6>
                    <p class="mb-0 opacity-75">@x.OfisNo</p>
                </div>
            </div>
        </a>
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <i class="bi bi-envelope fa-2x rounded-circle flex-shrink-0" width="32"
               height="32"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 key="23" class="mb-0">Email Adresi</h6>
                    <p class="mb-0 opacity-75">@x.Email</p>
                </div>
            </div>
        </a>
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <i class="bi bi-instagram fa-2x rounded-circle flex-shrink-0" width="32"
               height="32"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Instagram</h6>
                    <p key="25" class="mb-0 opacity-75">@x.Instagram</p>
                </div>
            </div>
        </a>
        <a href="" class="list-group-item list-group-item-action d-flex gap-3 py-3  mb-3"
           aria-current="true">
            <i class="bi bi-facebook fa-2x rounded-circle flex-shrink-0" width="32"
               height="32"></i>
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Facebook</h6>
                    <p key="26" class="mb-0 opacity-75">@x.Facebook</p>
                </div>
            </div>
        </a>
                
    </div>
    }
</div>
